RABBITMQ_DEFAULT_USER=myuser
RABBITMQ_DEFAULT_PASS=mysecretpassword

POSTGRES_DB=app_db
POSTGRES_USER=app_user
POSTGRES_PASSWORD=app_password
DATABASE_URL=postgresql+psycopg://app_user:app_password@127.0.0.1:5432/app_db

URL=https://example.com
LOGIN=myuser
PASSWORD=mypassword

LOGIN_EMAIL=myemail
PASSWORD_EMAIL=mypasswordemail
RECIPIENT_EMAILS=recipinet_emails

